@media screen and (max-width: 480px){
    body {
        margin: 0;
    }

    .container h1, .container .grey h1 {
        font-size: 50px;
    }
    .container h3, .container .grey h3 {
        font-size: 30px;
    }
    
    div {
        font-size: 28px;
    }

    #lezioni .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        margin-top: 0;
        padding-bottom: 10px;
        background-color: #f2f2cd;
    }
    #lezioni .row>.left, #lezioni .row>.right {
        width: 100%;
    }


    
}