@media screen and (max-width: 480px){
    body {
        margin: 0;
    }

    .container h1, .container .grey h1 {
        font-size: 50px;
    }
    .container h3, .container .grey h3 {
        font-size: 30px;
        margin: 0;
    }
    
    div {
        font-size: 28px;
    }

    .container .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        margin-top: 0;
        background-color: #f2f2cd;
    }
    
    #steps .row {
        background-color: #fff; 
    }

    #lezioni .row>.left, #lezioni .row>.right {
        width: 100%;
        padding-bottom: 50px;

    }

    #steps .row>.left, #steps .row>.central, #steps .row>.right {
        width: 100%;
        padding-bottom: 50px;

    }  

    hr {
        border: 1px solid black;
    }
}